{
  "plugins": ["transform-jsbi-to-bigint"],
  "presets": [[ "env", { "modules": "commonjs" } ]],
    "env": {
      "test": {
        "presets": [
          [
            "env",
            {
              "targets": {
                "node": "current"
              }
            }
          ]
        ]
      }
    }
  }